{% extends 'base.html' %}
{% block title %}<title>Password Change{</title>{% endblock title %}
{% load crispy_forms_tags%}
{% load static%}
{% block content %}
<link rel="stylesheet" href="{% static 'password_change.css'%}">
<h1>Password change</h1>
<p>Please enter your old password, for security's sake, and then enter
your new password twice so we can verify you typed it in correctly.</p>
<form method="POST">
{% csrf_token %}
{{ form|crispy }}
<input class="btn" type="submit"
value="Change my password">
</form>
{% endblock content %}