{% extends 'base.html'%}
{% load crispy_forms_tags%}
{% block title%}<title>password_reset.css</title>{% endblock title%}
{% load static%}
{% block content%}
<link rel="stylesheet" href="{% static 'password_reset.css'%}">
<h1 class="p">Forgot your password?</h1>
<p class="p">Please enter your email address below, and we'll email instructions for setting a new one.</p>
<form action="" method="post">
    {%csrf_token%}
    {{form|crispy}}
    <input class="btn" type="submit"
    value="Send me instructions!">
</form>
{% endblock content%}