body {
    background-image:url(12.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
}

.btn {
    background-color: orange;
    text-decoration: none;
    position:absolute;
    top:450px;
}

.btn:hover {background-color:red;}