body {
    background-image:url(13.jpg);
    background-attachment:fixed;
    background-repeat:no-repeat;
}

.p {
    color:tan;
}

.btn {
    background-color:palegreen;
    text-decoration: none;
    position:absolute;
    top:270px;
}

.btn:hover {background-color:mediumseagreen;}
