body {
    background-image:url(7.jpg);
}
.button {
    background-color:lightskyblue;
    font-size:large;
    font-family:Arial;
    padding:4px 5px;
    border:none;
}
.button:hover {background-color:turquoise;}